
#main * {
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: 'wght' 595, 'wdth' 100, 'ital' 0;

    user-select: none;
    -webkit-user-drag: none;
}

#main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    overflow: scroll;
}


#main::-webkit-scrollbar {
    display: none;
}

#content-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


    width: 100%;
    height: 75px;
    backdrop-filter: blur(3px);
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#titles {
    align-self: start;
    width: 100%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

#titles h1 {
    margin: 0;
    animation: appear 1s;
    font-size: 5vw;
    text-align: center;
}

#titles h2 {
    opacity: 0;
    animation: appear 1s 1s forwards;
    text-align: center;
}

#titles h3 {
    opacity: 0;
    animation: appear 1s 1.5s forwards;
    text-align: center;
}


#projects {
    width: 100%;
    height: 100%;
}
